Flow_4.json
[
    {
        "id": "df50f00890e8822a",
        "type": "tab",
        "label": "Flow4_Recibir mensaje MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a2c6d16180f4b7f",
        "type": "mqtt in",
        "z": "df50f00890e8822a",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "990df1fd9e78778d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "9dc17715c1fdd6b4",
                "64110d19e83b05d0"
            ]
        ]
    },
    {
        "id": "9dc17715c1fdd6b4",
        "type": "json",
        "z": "df50f00890e8822a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "09fd082b513d143b",
                "6e6617b863dcc74c",
                "14de87c46da583fe"
            ]
        ]
    },
    {
        "id": "09fd082b513d143b",
        "type": "function",
        "z": "df50f00890e8822a",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "0353b74e7df8ea30"
            ]
        ]
    },
    {
        "id": "6e6617b863dcc74c",
        "type": "function",
        "z": "df50f00890e8822a",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 440,
        "wires": [
            [
                "f75d7ebf979b1cdd"
            ]
        ]
    },
    {
        "id": "f75d7ebf979b1cdd",
        "type": "ui_gauge",
        "z": "df50f00890e8822a",
        "name": "",
        "group": "d2b5964ab74a6bc3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "0353b74e7df8ea30",
        "type": "ui_gauge",
        "z": "df50f00890e8822a",
        "name": "",
        "group": "170952cf305a485f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#1c71d8",
            "#57e389",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "64110d19e83b05d0",
        "type": "debug",
        "z": "df50f00890e8822a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "14de87c46da583fe",
        "type": "debug",
        "z": "df50f00890e8822a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "990df1fd9e78778d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d2b5964ab74a6bc3",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "eb98f774c5c09a4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "170952cf305a485f",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "eb98f774c5c09a4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eb98f774c5c09a4d",
        "type": "ui_tab",
        "name": "FLOW4- MQTT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]